{% extends "admin/base.html" %}

{% block title %}{{ title }} | Todo Informática Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">🖥️ Todo Informática - Admin</a>
</h1>
{% endblock %}

{% block extrastyle %}
<style>
    :root {
        --primary: #0d6efd;
        --secondary: #6c757d;
        --link-fg: #fff;
    }
    #header { background-color: #0d6efd; }
    .module h2, .module caption { background-color: #0d6efd; }
</style>
{% endblock %}